html{
  background-color: rgb(42, 47, 54);
}
p, h1, h2, h3, h4, h5, h6, li{
  color: rgb(209, 216, 227);
}
a{
  color: rgb(111, 156, 227);
}
.logo{
  display: inline-block;
  width: 50%;
}

.logo img{
  max-height: 40px;
  max-width: 40px;
}
.Top-nav{
  display: inline-block;
  text-align: right;
  width: 45%;
}
.Top-nav a{
  text-decoration: none;
  padding-right: 3%;
}
.goals ul{
  line-height: 30px;
  text-indent: -5px;
}
.goals h1{
  margin-left: 22px;
}
